<% if @user == current_user %>
  <h2>マイページ</h2>
<% end %>

<h3><%= @user.name %></h3>

<% if @user == current_user %>
  <%= link_to "編集", edit_user_path(@user) %>
<% end %>

<%= render "posts/post", posts: @posts %>

<%= link_to "ユーザ一覧へ", users_path %>