@use '~bootstrap/scss/bootstrap';

.field_with_errors {
  width: 100%;
  display: inline-block;
  flex-grow: 1;
  input {
    @extend .is-invalid;
  }
}

.post{
  display: block;
  width: 300px;
  content: "";
  margin: 0 auto;
}