<h2>タイトル変更</h2>

<%= form_with model: @post do |f| %>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.submit "変更" %>
  </div>
<% end %>