<div class="row">
  <div class="col-10 col-lg-6 mx-auto">
    <h1 class="mb-3">本サイトについて</h1>
    <p>本画像投稿サイトでは、投稿時に自動的にタグが生成されます。</p>
    <p>画面上部の検索フォームからタグ名を検索することで関連した画像を表示することが出来ます。</p>
  </div>
</div>