<div class="col-10 col-lg-6 mx-auto">
  <h1 class="mb-3">本サイトについて</h1>
  <p class="mb-2">本サイトは、画像投稿サイトです。</p>
  <p class="mb-2">投稿時に自動的にタグが生成されます。</p>
  <p class="mb-2">画面上部の検索フォームからタグ名を検索することで関連した投稿を表示することが出来ます。</p>
</div>