<div class="footer bg-secondary text-light">
  <div class='container mt-5'>
  	<div class='row'>
    	<div class='d-flex align-items-center mx-auto my-3'>
    	　<p class="mb-0">&copy; 2024 Ibuki Hirato, All rights reserved</p>
    	</div>
    </div>
  </div>
</div>