<div class="footer bg-secondary text-light">
  <div class='container mt-5'>
    <div class='row align-items-center justify-content-between mx-auto py-2'>
      <a class="text-light" href="https://forms.gle/LvRJdu9RiYLmiTS47" target="_blank">
        <i class="fa-solid fa-clipboard-question"></i>
        お問い合わせ
      </a>
      <div class="mb-0">&copy; 2024 Ibuki Hirato, All rights reserved</div>
    </div>
  </div>
</div>